.home_container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-x: auto;
  gap: 10px;
  margin: 0 auto;
  max-width: 1100px;
  margin-block: 30px;
  padding-bottom: 30px;
  .event_home{
    min-width: 300px !important;
    max-width: 300px;
  }
}

.Typography_home {
  margin: 20px;
  margin-top: 50px;
}
.home_link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
