.event_container {
  border-radius: 8%;
  cursor: pointer;
  box-shadow: 0 5px 5px #d5def5;
  padding-bottom: 10px;

  &:hover {
    box-shadow: 0 4px 10px #527cf2;
  }
  .event_image {
    position: relative;
    img {
      border-radius: 8%;
      height: 200px;
      width: 300px;
      object-fit: cover;
      object-position: center;
    }
    .EventDate{
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
      background-color: white;
      padding: 2px 5px ;
      border-radius: 20px;
    }
  }
  p {
    font-size: 20px;
    font-weight: 500;
  }

  .event_content {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 280px;
    label{
      font-weight: 900;
    }
    a{
      font-weight: 400;
      margin-left: 15px;
    }
  }
}
.box_container {
  width: 600px;
  height: 400px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  .box_container_row2{
    grid-column: span 3;
    display: flex;
  }
  .box {
    padding: 5px;
    &:last-child {
      float: left;
    }
    height: max-content;
    &:hover {
      transform: scale(1.01);
      border: 1px solid hwb(216 0% 7% / 0.5);

      box-shadow: 0 0 12px rgba(0, 95, 238, 0.5);
      svg {
        transform: scale(1.09);
      }
    }
    svg {
      width: 100px;
      height: 100px;
      padding: 10px;
      padding-top: 5px;
      margin-top: 5px;
    }
    a {
      display: block;
      text-transform: capitalize;
      margin-top: 5px;
      box-sizing: content-box;
    }
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    height: 170px;
  }
}
