.FooterContainer {
  margin-left: -300px;
  height: auto !important;
  padding-block: 30px;
  position: relative;
  width: calc(100% + 600px);
  background-color: #2f2ffc;
  margin-top: auto;
  a {
    color: white !important;
  }
}
