body {
  margin: 0;
  margin-inline: 300px;
  font-family: "Noto Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.btn-primary {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 500;
  border-radius: 9999px;
  font-size: 0.875rem;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #d1d5db;
  outline: none;
  box-shadow: 0 0 0 2px rgba(209, 213, 219, 0.5);
  color: black;
}

.btn-primary:hover {
  background-color: #f3f4f6;
  border-color: blue;
}
a {
  text-decoration: none !important;
  color: black !important;
}
