.headerWrapper {
  position: sticky;
  border-bottom: 1px solid rgb(97, 97, 97);
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 35px;
  & {
    align-items: center;
    font-size: 30px;
    font-weight: 600;
  }
  button {
    &:hover {
      transform: scale(1.01);
      box-shadow: 0 0 12px rgba(0, 95, 238, 0.5);
    }
    margin-right: 15px;
  }
}
a {
  text-decoration: none;
  color: black;
}
.icon {
  color: rgb(81, 121, 255);
  width: 60px !important;
  height: 60px !important;
}
.leftIconHeader {
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      font-size: 30px;
      font-weight: 500;
    }
  }
  &:hover {
    transform: scale(1.01);
  }
}
// span {
//   svg {
//     height: 40px !important;
//     width: 40px !important;
//   }
// }
